<section id="about" class="page-section about-me">
    <div class="container">
        <h2>About Me</h2>
        <div class="resume-content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
            Duis maximus, lorem in tempus laoreet, velit augue rhoncus nisl, ut ultrices orci nibh ut lorem.
            </p>
            <p>
            Nulla lacinia lacus quis libero aliquam, nec pellentesque libero imperdiet.
            </p>
        </div>
    </div>
</section>
