<section id="about" class="page-section about-me" data-controller="about-me">
  <div class="container">
    <h2>About Me</h2>
    <div class="resume-content about-me-container" data-about-me-target="container">
      <p>
        Storytelling is my conduit into the prism of consciousness.
      </p>
      <p>
        My being in service to acting.
      </p>
      <p>
        I'm deeply interested in exploring where the spiritual meets the mundane, where the light of hope can burst through the chasm of annihilation, and where the absurd is the matter of <span data-action="mouseenter->about-me#flicker">perspective</span>.
      </p>
    </div>
  </div>
</section>
