<section id="photos" class="page-section photos">
  <div class="container">
    <h2>Photographs</h2>
    <div class="gallery">
      <div class="gallery-item">
      </div>
      <div class="gallery-item">
      </div>
      <div class="gallery-item">
      </div>
      <div class="gallery-item">
      </div>
      <div class="gallery-item">
      </div>
      <div class="gallery-item">
      </div>
    </div>
  </div>
</section>
