<div class="contact-success-message">
  <div class="contact-success-line">
    <h2>Thank you, <%= @contact.name %>!</h2>
  </div>
  
  <div class="contact-success-line">
    <p>Message received! I shall get back to you soon ;)</p>
  </div>
</div>
